<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Turbo parse</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.11/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <script defer src="https://momentjs.com/downloads/moment.js"></script>
</head>
<body>

<div id="app" class="countainer-fluid">
    <top-navbar></top-navbar>
    <div class="container">
        <div id="products-table" class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Code</th>
                </tr>
                </thead>
                <tbody>

                <tr v-on:click="showReviews(product.code)" v-for="product in products" class="table-active">
                    <td>{{product.type}}</td>
                    <td>{{product.brand}}</td>
                    <td>{{product.model}}</td>
                    <td>{{product.code}}</td>
                    <td>
                        <a v-bind:href="'/export/reviews?productCode=' + product.code">
                            <i class="fas fa-download"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div id="reviews">
                <div v-for="review in reviews" v-bind:class="review.recommended | recommended">
                    <div class="row card-header">
                        <a v-bind:href="'/export/reviews/' + review.id">
                            <i class="fas fa-download"></i>
                        </a>
                        <span class="author">Author: <b>{{review.author}}</b></span>
                    </div>
                    <div class="row card-body">
                        <div class="row">
                            <i class="fas fa-star"> </i>
                            <span class="stars-count"> {{review.starsCount}}</span>
                        </div>
                        <div class="row">
                            <span class="text-success">Benefits:</span> {{review.benefits | array}}
                        </div>
                        <div class="row">
                            <span class="text-danger">Defects:</span> {{review.defects | array}}
                        </div>
                        <br/>
                        <div class="row comment-body">
                            <p>
                                {{review.comment}}
                            </p>
                        </div>
                        <div class="row">
                            <div class="date">
                                {{review.publishedDate | date}}
                            </div>
                            <div class="left-element">
                                <i class="fas fa-thumbs-up"></i>
                                <span class="likes-count">{{review.likesCount}}</span>
                                <i class="fas fa-thumbs-down likes-count"></i>
                                <span class="likes-count">{{review.dislikesCount}}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" src="js/components/nav.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/product.js"></script>

</body>
</html>