<!doctype html>
<html>
<head>
    <title>Doc</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.11/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-router@2.5.1/dist/vue-router.js"></script>
</head>
<body>

<div id="app">
    <router-link to="/foo">Go to Foo</router-link>
    <router-link to="/bar">Go to Bar</router-link>


    <router-view></router-view>
</div>


<script type="text/javascript" src="../static/js/foo.js"></script>
<script type="text/javascript" src="../static/js/routes.js"></script>
</body>
</html>